@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --primary-green: #b9ff66;
  --primary-black: #000000;
  --secondary-black: #191a23;
  --color-gray: #f3f3f3;
  --font-family: 'Space Grotesk', serif;
  --h1-size-desktop: 60px;
  --h1-size-mobile: 40px;
  --p-size-mobile: 1rem;
  --p-size-desktop: 1.2rem;
  --padding-padrão: 0.6rem;
  --size-subtitle: 40px;
  --font-size-mobile: 18px;
}

* {
  font-family: 'Space Grotesk', serif;
}

/* ============= NAVBAR ===============*/

body {
  padding: var(--padding-padrão);
}

.logo {
  width: 140px;
}

.navbar_list {
  display: none; /* Menu está oculto */
  border-top: 1px solid var(--color-gray);
}

.navbar_list a {
  margin: 8px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: var(--font-size-mobile);
  color: var(--primary-black);
  font-weight: 400;
}

#toggle {
  position: absolute;
  font-size: 32px;
  right: 0;
  top: 0;
  padding: 1rem;
  color: var(--secondary-black);
}

.navbar_list.active {
  display: block;
  transition: 0.3s ease-in;
}

.navbar_list a:hover {
  font-size: 20px;
  color: #000000;
  transition: 0.1s ease-out;
  font-weight: 500;
  transform: translateY(10%);
  transition: 0.3s ease-in;
}

.navbar_btn {
  display: flex;
  justify-content: center;
}

.btn_nav {
  font-size: 20px;
  padding: 16px;
  border: 1px solid var(--secondary-black);
  border-radius: 14px;
  width: 220px;
}

.btn_nav:hover {
  background-color: var(--primary-green);
  transform: translateY(10%);
  transition: 0.1s ease-out;
  cursor: pointer;
}

/* ============== HERO SECTION ============= */

.hero-about {
  margin-top: 1rem;
}

.title {
  font-size: var(--h1-size-mobile);
  text-align: start;
  line-height: 1.1;
}
p {
  font-size: var(--font-size-mobile);
  text-align: start;
  margin-top: 8px;
}

.hero_about_primary {
  display: flex;
  flex-direction: column;
}

.hero_about_primary {
  flex-direction: column; /* Alinha os elementos verticalmente */
  text-align: center; /* Centraliza o conteúdo no mobile */
}

.hero_img {
  order: -1;
}

@media (min-width: 768px) {
  .logo {
    width: 180px;
  }
  .navbar_list {
    display: block;
  }

  #toggle {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .navbar_list {
    display: flex;
    flex-direction: row;
    & a {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem;
    }
  }

  /* HERO */
  .hero-about {
    margin-top: 2.5rem;
    padding: 1rem;
  }
  .hero_img {
    order: 0; /* Coloca a imagem acima do texto */
    max-height: 600px;
  }

  .hero_about_primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 2.5rem;
  }

  .hero-about_text {
    max-width: 620px;
    & h1 {
      font-size: var(--h1-size-desktop);
    }
    & p {
      font-size: var(--p-size-desktop);
    }
  }

  .list-marcas {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }

  .list-marcas img {
    transition: 0.3s ease-in;
  }

  .list-marcas img:hover {
    cursor: pointer;
    transform: translateY(-10px);
  }
}

/* so para a animmacao */

@media (max-width: 768px) {
  .list-marcas {
    display: flex;
    gap: 16px;
    overflow: hidden;
    padding: var(--padding-padrão);
  }

  .list-marcas img {
    height: auto;
    width: 100px; /* Ajuste conforme necessário */
    animation: scrollLogos 5s linear infinite; /* Animação de movimento */
  }

  @keyframes scrollLogos {
    0% {
      transform: translateX(0); /* Começa no início */
    }
    100% {
      transform: translateX(-100%); /* Move as imagens para a esquerda */
    }
  }
  .list-marcas::after {
    content: '';
    display: block;
    flex-shrink: 0;
    width: 100px; /* Ajuste conforme a largura das imagens */
  }
}
